
body {
    border: solid 10px rgb(13, 71, 179);
    background-color: rgb(241, 218, 65);
    font-family: sans-serif;
    color: rgb(13, 71, 179);
    display: flex;
    align-items: center;
}

#bus{
    size-adjust: 20%;
    position: relative;
    z-index: 200;
    border-radius: 3px;
    border-color: cyan;
    border: solid;
    
}
